.Card {
    width: 18rem;
    margin: 1rem;
    box-shadow: 1px;
    display: flex;
    border-color: rgb(176, 176, 176) !important;

}

.CardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    font-family: 'Raleway';

}

.CardText {
    display: flex;
    align-self: flex-end;
    margin: 0.5rem;

}

.CardText2 {
    display: flex;
    align-self: flex-end;
    margin: 0.5rem;
    font-weight: bold;
}

.CardTitle {
    display: flex;
    align-self: center;
}

.CardBody {
    display: flex;
    flex-wrap: wrap;
}
               
.CardImg {
    height: 10rem;
    margin-bottom: 1rem;
    border: 0.5px rgba(0, 0, 0, 0.493) solid
}

.CardBtn {
    width: 100%;
    background: rgb(220, 220, 221) !important;
    border-color: rgb(176, 176, 176) !important;
    color: black !important;
}


@-webkit-keyframes CardBtn
{
 15%
 {
 -webkit-transform: translateX(5px);
 transform: translateX(5px);
 }
 30%
 {
 -webkit-transform: translateX(-5px);
 transform: translateX(-5px);
 } 
 50%
 {
 -webkit-transform: translateX(3px);
 transform: translateX(3px);
 }
 65%
 {
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
 }
 80%
 {
 -webkit-transform: translateX(2px);
 transform: translateX(2px);
 }
 100%
 {
 -webkit-transform: translateX(0);
 transform: translateX(0);
 }
}
@keyframes swing
{
 15%
 {
 -webkit-transform: translateX(5px);
 transform: translateX(5px);
 }
 30%
 {
 -webkit-transform: translateX(-5px);
 transform: translateX(-5px);
 }
 50%
 {
 -webkit-transform: translateX(3px);
 transform: translateX(3px);
 }
 65%
 {
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
 }
 80%
 {
 -webkit-transform: translateX(2px);
 transform: translateX(2px);
 }
 100%
 {
 -webkit-transform: translateX(0);
 transform: translateX(0);
 }
}

.CardBtn:hover
{
 -webkit-animation: swing 1s ease;
 animation: swing 1s ease;
 -webkit-animation-iteration-count: 1;
 animation-iteration-count: 1;
}