.OneCountryCard {   
    background-image: url("../img/background-img-filtered.png");
    border: 0.5px rgba(0, 0, 0, 0.493) solid;
    color: rgba(0, 0, 0, 0.713);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-size: contain;
}

.CountryFlag {
    width: 25%;
    border: 0.5px solid rgba(0, 0, 0, 0.462);
    display: flex;
    justify-items: center;
    margin-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 5%;
    align-items: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 20px;
}

.CountryInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

h5 {
    height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-right: 0.5px rgba(0, 0, 0, 0.493) solid;
    padding-left: 10px;
    padding-right: 30px;
    font-weight: bold;
}

.First {
    height: 50px;
    padding-bottom: 5px;
}
.Second {
    height: 50px;
    padding-bottom: 5px;
}
.Third {
    height: 50px;
    padding-bottom: 5px;
}
.Fourth {
    height: 50px;
    padding-bottom: 5px;
}

.ModalBtn {
    display: flex;
    justify-content: center; 
    background: transparent !important;
    border: 0.5px solid gray !important;
    padding: 2px 30px !important;
    color: #3a3b57 !important;
}

.ModalBtn:hover {
    background: rgb(184, 184, 186) !important;
    }


@media (max-width:480px){
 
    .OneCountryCard {   
        background-size: unset;
        background-color: white;
        width: 250px;
        height: 100vh;
        padding: 0px;
        border: none;
        overflow: hidden;
    }
    
    .CountryFlag {
        width: 230px;
        margin-bottom: 10px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 15px;
    }
    
    .CountryInfo{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }
    
    .Info {
        padding-bottom: 10px;
    }
    h5 {
        display: inline;
        height: 20px;
        padding-right: 15px;
        border: unset;
        padding-bottom: 20px;
    }

    .First {
        height: 20px;
        padding-bottom: 5px;
    }
    .Second {
        height: 20px;
        padding-bottom: 5px;
    }
    .Third {
        height: 20px;
        padding-bottom: 5px;
    }
    .Fourth {
        height: 20px;
        padding-bottom: 5px;
    }

    


}

