.Navbar {
    width: 100vw;
}

.NavBk {
    background-image: url("../img/background-img-filtered.png");
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    width: 100%;
    height: 170px;
    border-bottom: 2px solid rgb(200, 200, 200);
}

.Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 58px;
    width: 100%;

    
}

.NavbarBrand{
    padding-left: 50px;
    padding-right: 10px;
}

.NavbarBrand h1, .NavbarBrand h2 {
    color: rgb(60, 60, 60);
    font-weight: 500;
    
}

.NavLink h6{
    color: rgb(60, 60, 60);
    text-transform: uppercase;
}

.Search {
    width: 60%;
}



@media (max-width:480px){
 
     .NavbarBrand {
        display: none;
    }

    .Search {
        width: 100%;
        padding-left: 50px;
    }

    .NavBk {
        
    }

}

